.navigation-body
	ul.navigation-list
		li.navigation-item
			.navigation-item_head
				a(href="") Services
				i.navigation-item_trigger
					div
						svg.icon.icon-down
							use(xlink:href="#icon-down" xmlns:xlink="http://www.w3.org/1999/xlink")
			.navigation-item_body
				ul.list-links
					- var items = ["Core Technologies", "R&D", "Cloud", "Mobility", "Internet of Things", "Augmented & Virtual Reality"]
					each item in items
						li.list-item
							a(href="#") #{item}
		li.navigation-item
			.navigation-item_head
				a(href="") Solutions
				i.navigation-item_trigger
					div
						svg.icon.icon-down
							use(xlink:href="#icon-down" xmlns:xlink="http://www.w3.org/1999/xlink")
			.navigation-item_body
				ul.list-links
					- var items = ["Core Technologies", "R&D", "Cloud", "Mobility", "Internet of Things", "Augmented & Virtual Reality"]
					each item in items
						li.list-item
							a(href="#") #{item}
		li.navigation-item
			.navigation-item_head
				a(href="") Technologies
				i.navigation-item_trigger
					div
						svg.icon.icon-down
							use(xlink:href="#icon-down" xmlns:xlink="http://www.w3.org/1999/xlink")
			.navigation-item_body
				ul.list-links
					- var items = ["Core Technologies", "R&D", "Cloud", "Mobility", "Internet of Things", "Augmented & Virtual Reality"]
					each item in items
						li.list-item
							a(href="#") #{item}
		li.navigation-item
			.navigation-item_head
				a(href="") Domains
				i.navigation-item_trigger
					div
						svg.icon.icon-down
							use(xlink:href="#icon-down" xmlns:xlink="http://www.w3.org/1999/xlink")
			.navigation-item_body
				ul.list-links
					- var items = ["Core Technologies", "R&D", "Cloud", "Mobility", "Internet of Things", "Augmented & Virtual Reality"]
					each item in items
						li.list-item
							a(href="#") #{item}
		li.navigation-item
			.navigation-item_head
				a(href="" class="active") Company
				i.navigation-item_trigger
					div
						svg.icon.icon-down
							use(xlink:href="#icon-down" xmlns:xlink="http://www.w3.org/1999/xlink")
			.navigation-item_body
				ul.list-links
					- var items = ["Core Technologies", "R&D", "Cloud", "Mobility", "Internet of Things", "Augmented & Virtual Reality"]
					each item in items
						li.list-item
							a(href="#") #{item}
	.scroll
		a.btn.contact-us(href="#")
			span Contact us