extends _layout

block title
	title Title of template
block content
	.wrapper
		.header
			- var bool = true
			- var white = true
			- var currentClass = "Company"
			include includes/_header
		.wrap.wrap-inner
			.intro
				.intro-bg
					.intro-bg_in(style="background-image: url(img/blog-inner.jpg);")
				.l
					.intro-inner
						.intro-head
							.bread-crumbs
								ul.bread-crumbs_list
									li
										a(href="#") Home
									li
										a(href="#") Company
									li
										span Blog
							h2 Bringing Long-Distance Collaboration to&nbsp;the&nbsp;Next Level, or Why Itransition Opened an Office in the UK
							.read-time Reading time: 15 min.
					.intro-bottom
						.intro-bottom_left
							.user
								.user-pic
									img(src="img/writers/user.png")
								.user-info
									.user-name Yury Chernikov
									.user-position Head of Presales and Business Development
						.intro-bottom_right
							.share-center
								.share-head
									div.share-trigger(type="button")
										i
											svg.icon.icon-share
												use(xlink:href="#icon-share", xmlns:xlink="http://www.w3.org/1999/xlink")
										span Share
								.share-body
									.share-container
										a.share-item(href="#" data-social="facebook" )
											i.icon.icon-facebook
												img(src="img/icons/icon-facebook.jpg")
											span Facebook
										a.share-item(href="#" data-social="twitter")
											i.icon.icon-twitter
												img(src="img/icons/icon-twitter.jpg")
											span Twitter
										a.share-item(href="#" data-social="linkedin")
											i.icon.icon-linkedin
												img(src="img/icons/icon-linkedin.jpg")
											span LinkedIn
										a.share-item(href="#" data-social="googleplus")
											i.icon.icon-google
												img(src="img/icons/icon-google.jpg")
											span Google+
										a.share-item(href="#")
											i.icon.icon-rss
												img(src="img/icons/icon-rss.jpg")
											span RSS

			section.section
				.section-inner
					.l
						.text-container
							.text-inner
								p.lead When it comes to opening a regional office overseas, there is a ple&shy;thora of factors to consider, starting from operational costs up to added value. At Itransition, we have been debating whether to open a formal office in the UK for quite a while.
								p Due to the proximity to our main Production Centre in Belarus, it was easier to hop on a plane and get to a business meeting in just a few hours. But as every business evolves over time, ours did too, bringing considerable changes to company goals, priorities and ambitions. Eventually, a regional office was officially established in Canary Wharf, London. This text discusses different branch office modes Itransition has tried over the years, the scheme we consider optimal for us at the moment, the offshore/local dilemma as well as some considerations on the efficient mixed team approach.
							.figure-container
								figure.figure
									img(src="img/image-content/img-1.jpg")
									figcaption.figcaption Settling in the new office
						.text-container
							.text-inner
								.title-head
									h3.h3
										span 
											strong Representative office modes 
										| we have tried
								p Itransition has tried different options of setting up an office in London. As a legal entity, we have been working in the UK market for over a decade and our sales representatives have been offering our services for the UK clients for almost the same period. But, obviously, a pure sales front-office, however solid it is, is not enough to bring real value to the company. In the US, for instance, our onsite team always covers the production cycle by local specialists at least partly. In the UK, though, it was much more economically viable to fly out the necessary professionals whenever needed.
			section.section.full-color
				.section-inner
					.l
						.table-container.table_column
							.table-container_head
								h4 Representative office modes
							.table-container_body
								table.responsive
									thead
										tr
											th
											th USA
											th UK
									tbody
										//- title, iconID, text1, text2
										mixin tablerow(title, iconID, text1, text2)
											tr
												th 
													.title
														i
															svg(class="icon icon-" + iconID)
																use(xlink:href="#icon-" + iconID, xmlns:xlink="http://www.w3.org/1999/xlink")
														| #{title}
												td(data-title="USA") #{text1}
												td(data-title="UK") #{text2}
										+tablerow("Typical primary entry point of contact", "tie", "Business owner or member or the board.", "Personal Assistant or functional manager.")
										+tablerow("Speed of communication", "headphones", "24 hours reply.", "48-72 hours reply.")
										+tablerow("Typical client profile", "card", "Startups, high tech companies and multinational corporations.", "Companies servicing the gover- ment sector, independent software vendors, multinational corporations.")
										+tablerow("Project requirements: documentation completeness and clarity", "docs", "Information is given from the business needs are describedthe way the owner sees them. The vision is board.", "Requirements are more technical and issue oriented. The goal is to solve a particular issue here and now: automate a process, engineer code, develop a module. The vision is more narrow.")
										+tablerow("Attitude to long-term business relationship", "handshake", "A long-term relationship is the goal but you have very few chances to make mistakes. If you fail, you will part ways regadless of your successful track records. Barely no second chances", "If you solve incoming issues effec- tively, then the relationship may become long-term. The track record matters. You will be given a second chanceif your perfomance so far has been otherwise excellent.")
										+tablerow("Speed of decision making", "instrument", "Fast. From an inquiry to singing a deal — 90 days.", "Average. From an inquiry to signing a deal — up to 150 days.")
										+tablerow("Attitude to outsourcing", "molecule", "Very positive — most companies have had experience with outsourcing.", "Positive only with reprasentation. Provided there is a representative office and staff can visit and report often, the attitude is positive. Otherwise, your chances for success in a long-term partner- ship are lower.")
										+tablerow("Typical entry contract budgets", "purse", "Large budgets. Readiness to spend more money right away.", "Smaller budgets. The sun is broken down into iterations.")
			section.section
				.section-inner
					.l
						.text-container
							.text-inner
								p So, for some time we used to follow a semi-local delivery office model. Our key specialists travelled to the UK regularly to work closer with our clients, better understand their actual business needs and realities, and provide extra confidence in our skills and capabilities, especially at the project beginning and during the final delivery. Besides, our account managers worked to overcome the concerns usually associated with offshore service providers and form long-term relationships with our key customers.
								p Now, the company objectives evolved further and a transformation of our collaboration scheme became an indispensable step forward.
						.figure-container.col-2
							figure.figure
								img(src="img/image-content/img-2.jpg")
								figcaption.figcaption Compare 1
							figure.figure
								img(src="img/image-content/img-3.jpg")
								figcaption.figcaption Compare 2
						.text-container
							.text-inner
								.title-head
									h3.h3
										strong So what is 
										| different now?
								p The objective is that now we would like to bring our customers’ comfort to a completely new level. We want them to consider us their trusted regional IT partner, if not an integrated IT department. And it certainly involves a number of modifications to the format of our regional representation.
								p Partnering with a multitude of clients from innovative startups to large global brands, we realized that the businesses and domains most interesting for us often cannot be effectively reached by current marketing channels and campaigns. So, we are seriously reinforcing the onsite sales team and boosting it with a solid presales expertise.
								p Furthermore, the company account management is now handled under a unified Key account management program. It standardizes the business development interface for our new and existing clients, supports long-term relationships and enhances escalation proce&shy;dures, when needed.
							.gallery-container
								.gallery.gallery-main.slider-for
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
								.gallery.gallery-thumbnails.slider-thumbnails
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
									.gallery-item
										img(src="img/image-content/img-4.jpg")
							.text-inner
								p On the production front, we are planning to re-purpose the approach that proved its efficiency for our US office. An experienced team will work with the UK clients locally from our office in London. The focus will be set on the consulting and management parts, first of all, as we find them most practical when done onsite, with as much client involvement as possible.
								p Key development, quality assurance and customer service expertise remains in Belarus, keeping our pricing strategy well-balanced. Though, we will still use the benefit of comparably insignificant proximity between our European offices to bring in core team leads onsite for the most important project stages and provide more flexibility and effectiveness.
								p The updated office infrastructure seems quite solid and we genuinely believe that the software solutions we deliver can provide a strong technological backbone to enhance productivity of enterprises across the UK and the rest of Europe.
						.text-container
							.text-inner
								.title-head
									h3.h3
										strong Offshore  
										| vs. Local
								p The fact Itransition invests in well-established regional offices does not necessarily mean we are planning to limit the diversity of our engagement schemes. There are still a lot of cases where our new clients and existing partners do not really need us onsite. Smaller projects with straightforward requirements are easy to discuss and handle online and so can still be developed offshore, keeping both parties happy with the end result and the cost involved.
								p However, a local presence certainly takes client relationships to a different level. When working with enterprise customers, for instance, decision- making is done in a completely different way: the client representatives we talk to directly are almost never the sole decision makers and report back to higher management. Each collaboration starts with a local sale contact who provides a powerful demonstration of what we do, persuades client representatives they made the right choice and helps communicate the idea to their supervisors. It is much more effective to do having a staff of professionals close to the clients. Besides, as hard as it may be to believe, not all companies are technically able to support multichannel video calls, so in those cases having a representative office is critical for business.
						.text-container
							.important-info
								p In most cases, though, a local team can effectively facilitate offshore services and&nbsp;we see serious potential in the balanced combination of both models.
						.figure-container
							figure.figure
								img(src="img/image-content/img-5.jpg")
								figcaption.figcaption Andrey Syomkin, RFX manager from Minsk team, preparing for meeting with a local client
						.text-container
							.text-inner
								.title-head
									h3.h3
										span 
											strong Working in Mixed 
										| International Teams
								.footnote-container
									p At Itransition we have been practicing the mixed team approach for many years now, experimenting with the level of local involvement, various development methodologies, delivery schemes and so forth.
									.footnote
										p 2 managers needed for&nbsp;mixed teams
								p One of the organizational aspects we are exploring now and find quite important is the double subordination within our mixed teams. We have an operational manager in the Production Centre and a local manager in the regional office that both work with the same account, but have different areas of responsibility. The first coordinates the development team directly:
								ul.dash
									li manages daily routines;
									li handles communication within the team and cooperation between various departments.
								p The other supervises onsite activities – typically, core architecture set-up and business analysis:
								ul.dash
									li provides status updates;
									li presentations and demonstrations;
									li sometimes handles account management duties as well.
								p There are also distinct peculiarities of organizing distributed teams, when another vendor or the client’s in-house team works on a project in parallel with us. It may sound trivial, but the atmosphere in the team is crucial. The client’s employees have to be sure we are not there to replace them, but rather extend the capabilities and get better results together. That is where intensive communication is important on all levels.
						.text-container
							.important-info
								p Our account managers work close with the client’s management to set up the right tone of cooperation.  We encourage frequent onsite trips for regular  team members.
						.text-container
							.text-inner
								p Daily stand-up meetings are also quite effective in this sense to create the feeling of unity no matter where any team member is situated geographically. And the effect is even more prominent for mixed Agile teams that include client’s employees and our specialists. This set-up can seem challenging as you make people from different companies handle the same tasks together, but, done right, it extracts unbelievable synergy as the team unites around common project goals.
						.text-container
							blockquote.blockquote
								.blockquote-text
									p One thing that's impressed us the most of the owner&shy;ship they take over their work. If it’s half past eight or nine in the evening where they are, it’s more than likely that they’re working on our features or impro&shy;ving something for us. They don’t nickel and dime you for their time.
								.user
									.user-pic
										img(src="img/writers/user.png")
									.user-info
										.user-name Bill Chairman
										.user-position Chair Co., Head of Presales and Business Development
						.text-container
							.wrap-tags_share
								.wrap-tags_share-inner
									.tags
										.tags-name Tags:
										.tags-list
											- var tags = ["News", "Options", "2016"]
											each tagsItem in tags
												a(href="" class="tags-item")
													span #{tagsItem}
									.share
										.share-name Share:
										.share-list
											button(type="button" data-social="facebook" class="share-item share-item_facebook")
												i.share-facebook
													svg(class="icon icon-facebook-share")
														use(xlink:href="#icon-facebook-share" xmlns:xlink="http://www.w3.org/1999/xlink")
												span(data-counter="facebook" class="counter")
											button(type="button" data-social="twitter" class="share-item share-item_twitter")
												i.share-twitter
													svg(class="icon icon-twitter-share")
														use(xlink:href="#icon-twitter-share" xmlns:xlink="http://www.w3.org/1999/xlink")
											button(type="button" data-social="linkedin" class="share-item share-item_linked")
												i.share-linkedin
													svg(class="icon icon-linkedin-share")
														use(xlink:href="#icon-linked-share" xmlns:xlink="http://www.w3.org/1999/xlink")
												span(data-counter="linkedin" class="counter")
											button(type="button" data-social="googleplus" class="share-item share-item_googleplus")
												i.share-googleplus
													svg(class="icon icon-googleplus-share")
														use(xlink:href="#icon-googleplus-share" xmlns:xlink="http://www.w3.org/1999/xlink")
											a(href="#" class="share-item share-item_rss")
												i.share-rss
													svg(class="icon icon-rss-share")
														use(xlink:href="#icon-rss-share" xmlns:xlink="http://www.w3.org/1999/xlink")
			section.section.full-color
				.section-inner
					.l
						.more-container
							.title-head
								h2 more on the 
									strong Topic
							.card-container
									mixin card(style, image, name)
										.card(class=style)
											a(href="#")
												.image-container
													.img(style="background-image: url("+image+")")
												.read-time Reading time: 15 min.
												.card-info
													.author By Press Office
													.title #{name}
									+card("medium-width", "img/blog/blog-3.jpg", "How to Conduct International Negotiations")
									+card("small-width", "img/blog/blog-3.jpg", "Itransition Ranked Among Top Companies on IAOP 2016 Global...")
									+card("small-width", "img/blog/blog-3.jpg", "Customer Testimonial: Anthony Peccerillo")
	.footer
		include includes/_footer